DEBUG=True
SECRET_KEY=your-django-secret-key

DB_NAME=blockchain_forms
DB_USER=postgres
DB_PASSWORD=your-postgres-password
DB_HOST=127.0.0.1
DB_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:5173

BLOCKCHAIN_ENABLED=True
BLOCKCHAIN_NETWORK=LOCAL_HARDHAT
BLOCKCHAIN_RPC_URL=http://127.0.0.1:8545
BLOCKCHAIN_CHAIN_ID=31337
CONTRACT_ADDRESS=your-local-contract-address
BACKEND_WALLET_PRIVATE_KEY=your-local-hardhat-private-key